USE [master]
GO
/****** Object:  Database [BD_Proyecto]    Script Date: 28/05/2021 04:14:46 p. m. ******/
CREATE DATABASE [BD_Proyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Proyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_Proyecto.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Proyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_Proyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Proyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Proyecto]
GO
/****** Object:  Table [dbo].[BD_Proyecto$]    Script Date: 28/05/2021 04:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_Proyecto$](
	[País] [nvarchar](255) NULL,
	[Tipo de precio] [nvarchar](255) NULL,
	[Mercado] [nvarchar](255) NULL,
	[Producto] [nvarchar](255) NULL,
	[Moneda] [nvarchar](255) NULL,
	[Medida] [nvarchar](255) NULL,
	[Mensual] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
